@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: flex-end;
  background: #000000;
  background-image: url('../images/02.jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-left: 7rem;
  padding-right: 7rem;
  position: absolute;
  top: 0;
  height: 7rem;
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  padding: 0 1rem;
  position: relative;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar a:hover {
  color: #00ffff;
}

.hero {
  text-align: center;
  padding: 2rem;
  max-width: 50%;
  margin-right: 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}

.hero p {
  max-width: 600px;
  margin: auto;
  line-height: 1.5;
  color: white;
}

.navbar li .nested-menu,
.navbar li .nested-menu2 {
  display: none;
}

.nested-menu,
.nested-menu2 {
  display: block;
  position: absolute;
  background-color: none;
  min-width: 190px;
  z-index: 1;
  padding-top: 20px;
}

.nested-menu {
  left: 0%;
}



.navbar li:hover .nested-menu,
.navbar li:hover .nested-menu2 {
  display: block;
}
.navbar li:hover .nested-menu2 {
  display: block;
  left: -75;
}

.nested-menu a,
.nested-menu2 a {
  color: #fff;
  padding: 0.2rem;
  display: block;
  text-decoration: none;
  text-align: center;
}

.nested-menu a:hover,
.nested-menu2 a:hover {
  color: #00ffff;
}

.logo img {
  padding-left: 5%;
  height: 80%;
}

.menubar {
  padding-top: 10px;
  right: 5%;
}

.navbar li.active:after {
  content: '';
  display: inline-block;
  color: white;
  margin-bottom: 3px;
  border: solid;
  border-width: 0 1px 1px 0;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  margin-left: 2px;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  font-size: 2.8rem;
  color: white;
  cursor: pointer;
  display: none;
}

@media (max-width: 992px) {
  body .navbar {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url('../images/03.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons {
    right: 5%;
    position: absolute;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: block;
    z-index: 100;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .menubar {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 50rem;
    display: none;
    overflow: hidden;
    transition: 0.3s ease;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
  }

  .navbar li:hover .nested-menu {
    display: block;
    top: -10;
    left: -15%;
  }

  #check:checked ~ .menubar {
    display: block;
  }

  .navbar ul{
    font-weight: 700;
  }

  .navbar li.nested-menu,
  .navbar li.nested-menu2{
    font-weight:lighter;
  }

  .navbar .menubar ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 20%;
    margin-left: 30;
  }

  .navbar .menubar li {
    padding: 1rem 0;
  }

  .menubar a {
    font-size: large;
  }

  .nested-menu a {
    margin: -0.8rem 0;
    font-size: medium;
    background: none;
  }

  .nested-menu2 a {
    margin-left: 30;
    padding: 0;
  }

  .navbar {
    padding-left: 1rem;
    padding-right: 0rem;
  }

  .navbar li:hover ~ .nd1 {
    margin-top: 80px; 
  }
  
}
