{% load static %}

{% block content %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/bon_commande.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>




<title>Purchase orders</title>

</head>
<body>
  <div class="navbar">
    <div class="logo"><a href="{% url 'home' %}"><img src="static/images/logo.png"/></a></div>

    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
    </label>


    <div class="menubar">
         <ul class="mbar">
             <li><a href="File">New FIle</a></li>
             
             <li class="active">
                 <a href="#">Data Managements</a>

                  
                    <ul class="nested-menu">
                        <div class="nm">
                           <li></li>
                           <li><a href="{% url 'bon_commande' %}">Purchase order</a></li>
                           <li><a href="{% url 'gestionf' %}">Supplier</a></li>
                        </div>
                    </ul>
                
              </li>
              {% if request.user.is_superuser %} 
              <li class="nd1"><a href="{% url 'userinterface' %}">Users</a> </li>
              {% endif %}
              <li><a href="#"><i class="fas fa-user"></i></a>
                <ul class="nested-menu2">
                  <div class="nm2">
                     <li></li>
                     <li><a href="{% url 'profile_settings' %}">Profile</a></li>
                     <li><a href="{% url 'logout_view' %}">logout</a></li>
                  </div>
              </ul>
              </li>
         </ul>
    </div>
  </div>


 {% if boncommande %} 
 <div class="table-wrapper">
  <div class="tabletitle">
    <h2 >Purchase orders</h2></div>
    <table class="table table-striped table-rounded">
        <thead>
              <tr>
                <th scope="col">Number</th>
                <th scope="col">date</th>
                <th scope="col">Supplier</th>
                <th scope="col">order</th>
                <th scope="col">details</th>
                {% if request.user.is_superuser or request.user.is_staff %}
                <th scope="col">Action</th>
                {% endif %}
              </tr>
        </thead>
            
        <tbody class="table-group-divider">
                {% for item in boncommande %}
                <tr scope="row">
                    <td>{{ item.numero }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.fournisseur.name }}</td>
                    <td>{{ item.id_commande.id_produit.name }}</td>
                    <td><button class="details-button" data-item-id="{{ item.id }}">Details</button></td> 
                    {% if request.user.is_superuser or request.user.is_staff %}
                    <td>
                      <form method="POST" action="{% url 'deletecommande'%}">{% csrf_token %}
                        <input type="hidden" name="id" value={{item.id}}>
                        <input type="submit"  value="Delete" class="btn-danger">
                      </form>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
        </tbody>
            
    </table>




 </div> 
 {% else %} 
 <div class="emty">
    <p>no purchase order exists.</p>
 </div>
 {% endif %}
  


 <script src="{% static 'js/cm.js' %}"></script>




  
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>



  {% endblock %}
