{% load static %}

{% block content %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/commandedetails.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>




<title>FSG</title>

</head>
<body>
  <div class="navbar">
    <div class="logo"><a href="{% url 'home' %}"><img src="static/images/logo.png"/></a></div>

    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
    </label>


    <div class="menubar">
         <ul class="mbar">
             <li><a href="File">New FIle</a></li>
             
             <li class="active">
                 <a href="#">Data Managements</a>

                  
                    <ul class="nested-menu">
                        <div class="nm">
                           <li></li>
                           <li><a href="{% url 'bon_commande' %}">Purchase order</a></li>
                           <li><a href="{% url 'gestionf' %}">Supplier</a></li>
                        </div>
                    </ul>
                
              </li>
              {% if request.user.is_superuser %} 
              <li ><a href="{% url 'userinterface' %}">Users</a> </li>
              {% endif %}
              <li><a href="#"><i class="fas fa-user"></i></a>
                <ul class="nested-menu2">
                  <div class="nm2">
                     <li></li>
                     <li><a href="{% url 'profile_settings' %}">Profile</a></li>
                     <li><a href="{% url 'logout_view' %}">logout</a></li>
                  </div>
              </ul>
              </li>
         </ul>
    </div>
  </div>


  <div class="content-wrapper">
    <div class="card">
      <h2>Purchase Order N:{{boncommande.numero}}</h2>
    </div>

    <div class="card">
      <div class="section-title">Supplier</div>
      <ul class="details-list">
        <li><span>Identifier:</span> {{ fournisseur.identificateur }}</li>
        <li><span>Name:</span> {{ fournisseur.name }}</li>
        <li><span>Address:</span> {{ fournisseur.address }}</li>
        <li><span>Subject:</span> {{ fournisseur.sujet }}</li>
        <li><span>Consultation:</span> {{ fournisseur.consultation }}</li>
      </ul>
    </div>

    <div class="card">
      <div class="section-title">Client</div>
      <ul class="details-list">
        <li><span>Name:</span> {{ client.name }}</li>
        <li><span>Address:</span> {{ client.address }}</li>
        <li><span>Email:</span> {{ client.mail }}</li>
        <li><span>Phone:</span> {{ client.phone }}</li>
        <li><span>Fax:</span> {{ client.fax }}</li>
        <li><span>Tax ID:</span> {{ client.tax_id }}</li>
      </ul>
      {% if request.user.is_superuser or request.user.is_staff %}
      <button class="edit-btn" data-id="{{ client.id }}" data-type="client" data-boncommande-id="{{ boncommande.id }}">Edit</button>
      {% endif %}
    </div>

    <div class="card">
      <div class="section-title">Order</div>
      <ul class="details-list">
        <li><span>Quantity:</span> {{ commande.quantity }}</li>
        <li><span>Unity:</span> {{ commande.unity }}</li>
        <li><span>Individual Price:</span> {{ commande.price_indiv }}</li>
        <li><span>Total Price:</span> {{ commande.price_total }}</li>
        <li class="highlight"><span>Sum:</span> {{ commande.sum }}</li>
      </ul>
      {% if request.user.is_superuser or request.user.is_staff %}
      <button class="edit-btn" data-id="{{ commande.id }}" data-type="commande" data-boncommande-id="{{ boncommande.id }}">Edit</button>
      {% endif %}
    </div>

    <div class="card">
      <div class="section-title">Product</div>
      <ul class="details-list">
        <li><span>Name:</span> {{ produit.name }}</li>
        <li><span>Characteristic:</span> {{ produit.characteristic|linebreaksbr }}</li>
      </ul>
      {% if request.user.is_superuser or request.user.is_staff %}
      <button class="edit-btn" data-id="{{ produit.id }}" data-type="produit" data-boncommande-id="{{ boncommande.id }}">Edit</button>
   
      {% endif %}
    </div>
  </div>
  {% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<script>
    $(document).ready(function(){
        $('.edit-btn').click(function(){
            var id = $(this).data('id');
            var type = $(this).data('type');
            var boncommandeId = $(this).data('boncommande-id');

            // Redirect to the edit page with the ID, type, and boncommandeId
            window.location.href = '/edit/' + type + '/' + id + '?boncommande_id=' + boncommandeId; 
        });
           
  
        
    });
  </script>




</body>
</html>