{% load static %}

{% block content %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/home_inter.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>




<title>FSG</title>

</head>
<body>
  <div class="navbar">
    <div class="logo"><a href=""><img src="static/images/logo.png"/></a></div>

    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
    </label>


    <div class="menubar">
         <ul class="mbar">
             <li><a href="File">New FIle</a></li>
             
             <li class="active">
                 <a href="#">Data Managements</a>

                  
                    <ul class="nested-menu">
                        <div class="nm">
                           <li></li>
                           <li><a href="#">Bon Commandes</a></li>
                           <li><a href="#">Fournisseurs</a></li>
                        </div>
                    </ul>
                
              </li>
              {% if request.user.is_superuser %} 
              <li ><a href="#">Users confirmation</a> </li>
              {% endif %}
              <li><a href="#"><i class="fas fa-user"></i></a>
                <ul class="nested-menu2">
                  <div class="nm2">
                     <li></li>
                     <li><a href="#">settings</a></li>
                     <li><a href="{% url 'logout_view' %}">logout</a></li>
                  </div>
              </ul>
              </li>
         </ul>
     </div>
  </div>





<div class="hero">
    <h1>PFE DATA_EXTRACTION</h1>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    
  </div>
  {% endblock %}
</body>
</html>




